@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

/* Define the local font-face */
@font-face {
  font-family: 'Playfair Display Local';
  src: url('../fonts/font.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", "Playfair Display Local", serif;
  background: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  cursor: url("../images/cursor.png"), auto;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.jpeg");
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}

:hover {
  cursor: url("../images/cursor.png"), auto;
}

.screen {
  position: relative; /* Ensure it is above the blurred background */
  z-index: 1;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
  background-image: url("../images/screen.jpeg");
  background-size: cover;
  background-position: center;
}

#splashScreen h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  color: #8b5a2b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  margin: 0;
  padding: 40px;
}

#splashScreen small {
  display: block;
  margin-top: -40px;
  margin-bottom: 40px;
  font-size: 12px;
}

#mainMenu ul,
#loggedMenu ul {
  list-style-type: none;
  padding: 20px;
}

#mainMenu ul li,
#loggedMenu ul li {
  margin-bottom: 10px;
}

#mainMenu ul li a,
#loggedMenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#mainMenu ul li a:hover,
#loggedMenu ul li a:hover {
  background-color: #ece2c6;
}

button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #3e320c;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #d4af37;
}

button.primary {
  /* background-color: #d4af37; */
  background-image: url("../images/button.jpeg");
  background-size: cover;
  background-position: center;
  color: #4a3d11;
}

button.secondary {
  background-color: #a08060;
  color: #fff;
}

button.primary:hover {
  background-color: #b9933d;
  color: #b9982f;
}

button.secondary:hover {
  background-color: #8b6c50;
  color: #fff;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#createPlayerScreen {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
}

#createPlayerScreen h1 {
  font-size: 3rem;
}

#createPlayerScreen form {
  margin-top: 20px;
}

#createPlayerScreen label {
  display: block;
  margin-bottom: 10px;
}


#highScoresScreen h1,
#historyScreen h1,
#gameSettingsScreen h1,
#profileSettingsScreen h1 {
  font-size: 3rem;
}

#highScoresScreen ul,
#historyScreen ul {
  list-style-type: none;
  padding: 20px;
}

#highScoresScreen ul li,
#historyScreen ul li {
  margin-bottom: 10px;
}

#gameSettingsScreen form {
  margin-top: 20px;
}

#gameSettingsScreen form label {
  display: block;
  margin-bottom: 5px;
}

#gameSettingsScreen form input[type="range"],
#gameSettingsScreen form select {
  margin-bottom: 10px;
}

#gameSettingsScreen form button {
  margin-top: 20px;
}

#continuePlayerScreen form {
  margin-top: 20px;
}

#continuePlayerScreen label {
  display: block;
  margin-bottom: 10px;
}

#continuePlayerScreen input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.loading-text {
  color: #2b1e05;
  margin: 0 10px;
}

.loading-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #2b1e05;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.toast.success {
  background-color: #4ca761;
}

.toast.warning {
  background-color: #d9b750;
}

.toast.error {
  background-color: #cf606c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 2px solid #372616;
  outline: none;
}


input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f8f0e3;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  transition: border-color 0.3s ease;
}

input[type="file"]:focus {
  border: 2px solid #372616;
  outline: none;
}

form {
  width: 100%;
  margin: 0 auto;
}

form label {
  font-family: "Playfair Display", serif;
  color: #372616;
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

form input[type="range"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: #f8f0e3;
  color: #372616;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

form input[type="range"]:focus,
form select:focus {
  border: 2px solid #372616;
  outline: none;
  background-color: #ece2c6;
}

form input[type="range"]::-webkit-slider-thumb {
  background-color: #8b5a2b;
}

form input[type="range"]::-moz-range-thumb {
  background-color: #8b5a2b;
}

form input[type="range"]::-ms-thumb {
  background-color: #8b5a2b;
}

form input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ddd;
}

form input[type="range"]::-moz-range-track {
  background-color: #ddd;
}

form input[type="range"]::-ms-track {
  background-color: #ddd;
}

a.forgot-password {
  display: block;
  margin: 10px 0;
}

a.forgot-password:hover {
  color: #8b5a2b;
}

.image-upload-container {
  display: flex;
  align-items: center;
}

#profileImage {
  display: none;
  margin-right: 10px;
  border: 2px solid #3e320c;
}

#profileImagePreview {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  border: 2px solid #3e320c;
}

.profile-group {
  display: flex;
  justify-content: center;
}

.floating-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-width: 150px;
}

.float-info {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #ccc; /* Placeholder color */
  border-radius: 50%;
  margin: 0 auto;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.playerUsername {
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 130px;
  min-width: 100px;
}

.playerQuickButton {
  margin: 0 auto;
  display: block;
}

.profile-group {
  margin-bottom: 10px;
}

#gameContainer {
  width: 100vw;
  height: 100vh;
}
canvas {
  display: block;
  background: transparent; 
}

.floatingRightBar {
  position: fixed;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #372616;
  background-color: #8b6c50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  min-width: 40px;
  min-height: 150px;
}

.floatingRightBar .floatRightBarInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: #372616;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  background-color: #634c26;
}

.icon img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 600px) {
  #splashScreen,
  #mainMenu,
  #loggedMenu {
    width: 90%;
    max-width: 100%;
  }
}
